.step-1-intake {
  	position: absolute;
  	top: 2px;
  	left: 64px;
  	font-weight: 600;
  	display: inline-block;
  	width: 104px;
  	height: 20px;
}
.h3 {
  	position: absolute;
  	top: 34px;
  	left: 24px;
  	background-color: rgba(0, 0, 0, 0);
  	width: 232px;
  	height: 24px;
}
.span-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 9999px;
  	width: 40px;
  	height: 40px;
}
.pulls-air-in {
  	position: absolute;
  	top: 10px;
  	left: 52px;
  	line-height: 16px;
  	display: inline-block;
  	width: 74px;
  	height: 20px;
}
.div2 {
  	position: absolute;
  	top: 96px;
  	left: 64px;
  	background-color: rgba(0, 0, 0, 0);
  	width: 151px;
  	height: 40px;
  	color: #242e7a;
  	font-family: Fredoka;
}
.div1 {
  	position: absolute;
  	top: 31px;
  	left: 13px;
  	border-radius: 12px;
  	background-color: #fff;
  	border: 3px solid #242e7a;
  	box-sizing: border-box;
  	width: 286px;
  	height: 164px;
}
.step-2-purify {
  	position: absolute;
  	top: 2px;
  	left: 0px;
  	font-weight: 600;
  	display: inline-block;
  	width: 105px;
  	height: 20px;
}
.h31 {
  	position: absolute;
  	top: 34px;
  	left: 74px;
  	background-color: rgba(0, 0, 0, 0);
  	width: 232px;
  	height: 24px;
}
.span-icon1 {
  	position: absolute;
  	top: 0px;
  	left: 20px;
  	border-radius: 9999px;
  	width: 40px;
  	height: 40px;
}
.filters-pollutants {
  	position: absolute;
  	top: 10px;
  	left: 72px;
  	line-height: 16px;
  	display: inline-block;
  	width: 122px;
  	height: 20px;
}
.div4 {
  	position: absolute;
  	top: 96px;
  	left: 23px;
  	background-color: rgba(0, 0, 0, 0);
  	width: 334px;
  	height: 40px;
  	color: #242e7a;
  	font-family: Fredoka;
}
.div3 {
  	position: absolute;
  	top: 31px;
  	left: 309px;
  	border-radius: 12px;
  	background-color: #fff;
  	border: 3px solid #242e7a;
  	box-sizing: border-box;
  	width: 286px;
  	height: 164px;
}
.step-3-clean {
  	position: absolute;
  	top: 2px;
  	left: 0px;
  	font-weight: 600;
  	display: inline-block;
  	width: 130px;
  	height: 20px;
}
.h32 {
  	position: absolute;
  	top: 36px;
  	left: 65px;
  	background-color: rgba(0, 0, 0, 0);
  	width: 232px;
  	height: 24px;
}
.span-icon2 {
  	position: absolute;
  	top: 0px;
  	left: 40px;
  	border-radius: 9999px;
  	width: 40px;
  	height: 40px;
}
.removes-odors {
  	position: absolute;
  	top: 10px;
  	left: 92px;
  	line-height: 16px;
  	display: inline-block;
  	width: 194px;
  	height: 20px;
}
.div6 {
  	position: absolute;
  	top: 96px;
  	left: -27px;
  	background-color: rgba(0, 0, 0, 0);
  	width: 334px;
  	height: 40px;
  	color: #242e7a;
  	font-family: Fredoka;
}
.div5 {
  	position: absolute;
  	top: 31px;
  	left: 605px;
  	border-radius: 12px;
  	background-color: #fff;
  	border: 3px solid #242e7a;
  	box-sizing: border-box;
  	width: 286px;
  	height: 164px;
}
.step-4-breathe {
  	position: absolute;
  	top: -3px;
  	left: 23px;
  	font-weight: 600;
  	display: inline-block;
  	width: 185px;
  	height: 20px;
}
.h33 {
  	position: absolute;
  	top: 40px;
  	left: 21px;
  	background-color: rgba(0, 0, 0, 0);
  	width: 232px;
  	height: 24px;
}
.span-icon3 {
  	position: absolute;
  	top: 0px;
  	left: 64px;
  	border-radius: 9999px;
  	width: 40px;
  	height: 40px;
}
.releases-fresh-air {
  	position: absolute;
  	top: 10px;
  	left: 116px;
  	line-height: 16px;
  	display: inline-block;
  	width: 128px;
  	height: 20px;
}
.div8 {
  	position: absolute;
  	top: 96px;
  	left: -30px;
  	background-color: rgba(0, 0, 0, 0);
  	width: 334px;
  	height: 40px;
  	color: #242e7a;
  	font-family: Fredoka;
}
.div7 {
  	position: absolute;
  	top: 31px;
  	left: 901px;
  	border-radius: 12px;
  	background-color: #fff;
  	border: 3px solid #242e7a;
  	box-sizing: border-box;
  	width: 286px;
  	height: 164px;
}
.div {
  	width: 100%;
  	position: relative;
  	background-color: rgba(0, 0, 0, 0);
  	height: 208px;
  	overflow-x: auto;
  	text-align: left;
  	font-size: 16px;
  	color: #000;
  	font-family: Inter;
}

