{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/cart .css' %}">
{% endblock %} {% block content %}
<h1 class="carttitle">Your ReelzAir Cart</h1>
<section class="cart-section">
  <div class="cart-icon-container">
    <div class="shipping-card">
      <div class="form-row">
          <img
            class="product-img"
            src="{% static 'images/shoppingcart/deepblue.svg' %}"
            alt="Deep Blue Purifier"
          />
        <div class="item-details">
          <h3>ReelzAir Purifier - Deep Blue</h3>
          <p>Made with 3 eco-bricks</p>
        </div>
      </div>
    </div>
  </div>

  <div class="cart-icon-container">
    <div class="shipping-card">
      <div class="form-row">
          <img
            class="product-img"
            src="{% static 'images/shoppingcart/limegreen.svg' %}"
            alt="Lime Green Purifier"
          />
        <div class="item-details">
          <h3>ReelzAir Purifier - Lime Green</h3>
          <p>Made with 3 eco-bricks</p>
        </div>
      </div>
    </div>
  </div>

  <div class="price-card">
  <div class="shipping-info1">
    <div class="price-list">
      <img src="{% static 'images/checkout/leaf.png' %}" alt="Leaf Icon" />
      <h3>Subtotal</h3>
      <div>$399</div>
    </div>
    <div class="price-list">
      <img src="{% static 'images/checkout/leaf.png' %}" alt="Leaf Icon" />
      <h3>Total</h3>
      <div>$399</div>
    </div>
  </div>
</div>
  <div class="buttons-container">
    <button onclick="window.location.href='/checkout';" class="cta-button">Proceed to Checkout</button>
    <button class="cta-button2">Continue Shopping</button>
  </div>
</section>



{% endblock %}
