
.carttitle {
    display: flex;
    justify-content: center;
    color: rgb(9, 9, 153);
}
p {
  color: #a6f41d;
}
main {
  background-image: url("/static/images/home/background.png");
  /* background-size: contain; */
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 92vh;
  gap: 1rem;
}

.cart {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 90%;
  height: auto;
  padding-bottom: 1rem;
  /* border: 2px solid darkblue; */
  border-radius: 20px;
  text-align: center;
  gap: .75rem;
  overflow-y: hidden;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
  width: 50%;
  border-radius: 20px;
  text-align: center;
  gap: 1rem;
}

.buttons-container a {
  height: 20%;
  padding: 1rem;
  font-size: small;
}

.cart-item {
  margin: 0 auto;
  width: 50%;
  border: 2px solid darkblue;
  border-radius: 2rem;
  gap: 1rem;
  font-size: small;
  background-color: #242e7a;
  color: #a6f41d;
}
/* .cart-item p {
  color: 
  #a6f41d;
} */

.cart-item img {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
}

.cart-item button {
  /* border: 5px solid blue; */
  border-radius: 10px;
  background-color: #a6f41d;
  color: #242e7a;
}